## .travis.yml

language: node_js

# Define la versión de Node.js que se usará para ejecutar el CI
node_js:
  - "20"
  
# Define los comandos de instalación (análogo a 'npm install')
install:
  - npm install

# Define el comando principal de la ejecución/pruebas
script:
  # Travis buscará el script 'test' en tu package.json
  - npm test
  
# Opcional: Notificaciones
notifications:
  email:
    # Cambia 'tu_correo@ejemplo.com' por tu email para recibir notificaciones
    recipients:
      - guillepawer@gmail.com
    on_success: change # Envía correo solo si el estado cambia (falla -> éxito, o viceversa)
    on_failure: always # Envía correo siempre que falle
